*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grilla{
    display: flex;
}
.body-index{
    background-image: url("img/fondo.webp");
    background-size: cover;
}
.body-playas-limpias{
    background-image: url("img/fondo-playa-limpia.webp");
    background-size: cover;
}
.body-fondo-clima{
    background-image: url("img/fondo-climas.webp");
    background-size: cover;
}
.body-restaurantes{
    background-image: url("img/fondo-retaurante.webp");
    background-size: cover;
}
.body-alquiler{
    background-image: url("./img/fondo-alquileres.webp");
    background-size: cover;
}
.body-mapa{
    background-image: url("./img/fondo-mapas.webp");
    background-size: cover;
}
.navbar{
    box-shadow: 2px 2px 10px 2px black;
    width: 100vw;
}
.navbar-brand{
   font-weight: bold;
}
.main{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
}
.container{
    margin-top: 70px;
}
.imgHome{
    width: 36%;
}
.mapa{
    margin-left: 50px;
}
.titulo{
    margin-left: 5px;
    color: rgb(11, 10, 10);

}
p.index{
    color: rgb(18, 15, 15);
}
.card{
    display: flex;
    width: 25vw;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px 2px rgb(22, 20, 20);
}
.data{
    font-weight: bold;
}
.data2{
    font-weight:500;
}
.grid-layout{
    display: grid;
    grid-template-columns:auto auto auto;
    margin: 10px;
}


.titulopag{
    text-align:left;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: 35px;
    text-shadow: 3px 3px 6px gray;
    color: white;

}
/* Hoteles */
.titulopag1{

    font-size: 5em;
    text-align:center;
    margin-top: 15px;
    text-shadow: 3px 3px 6px whitesmoke;
    color: white;
    background-color: black;
    box-shadow: 2px 1px 6px 2px whitesmoke;
}
.Hoteles{
    display: flex;
    height: 5vw;
    width: 100vw;
    background-color: black;
    box-shadow: 2px 1px 5px 2px whitesmoke;
    color: white;
    padding-left: 10px;

}
.menus{
    display: flex;
    flex-flow: row;
    margin-left: 2px;
    padding: 20px;
}
.menu1{
    padding-left: 15px;
}
.menu1:hover{
    color: white;
}
.Departamentos{
    display: flex;
    height: 5vw;
    width: 100vw;
    background-color:rgb(31, 24, 130);
    box-shadow: 2px 1px 5px 2px whitesmoke;
    color: white;
    padding-left: 10px;
}
.titulopag2{
    font-size: 5em;
    text-align:center;
    margin-top: 15px;
    text-shadow: 3px 3px 6px whitesmoke;
    color: white;
    background-color: rgb(31, 24, 130);
    box-shadow: 2px 1px 6px 2px whitesmoke;
}
.menu2{
    padding-left: 15px;
    color: rgba(255, 27, 27, 0.826);

}
.menu2:hover{
    color: white;
}

.tit{
    margin-left: 85px;
}
.contenedor {
	width: 90%;
	max-width: 1000px;

    margin-left: 0px;
    margin-bottom: 10px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
#restau{
    width: 90%;
	max-width: 1000px;

    margin-left: 0px;
    margin-bottom: 10px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.ciudad{
    text-align: center;
}
.imgclima{
    display: block;
    margin: auto;
    width: 70px;
}
.subti{
    text-align: center;
    font-weight: bold;
}

.titulo-foto{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px;
    text-shadow: 10px 10px 15px gray;
    font-size: 60px;
}
.image-playas-limpias{
    width: 500px;
}
.temp{
width: 40px;
}
.dire{
    width: 40px;
}

p.clasificacion {
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
  }
  
  p.clasificacion input {
    position: absolute;
    top: -100px;
  }
  
  p.clasificacion label {
    float: right;
    color: #333;
  }
  
  p.clasificacion label:hover,
  p.clasificacion label:hover ~ label,
  p.clasificacion input:checked ~ label {
    color: #dd4;
  }
  .coment{
      width: 40%;
    }
.comentarios{
    color: white;
}
.comentario1v{
    margin-left: 5px;
    width: 100%;
    background-color: white;
    border: 3px solid black;
    border-radius: 2%;
    box-shadow: 1px 1px 10px 3px white;
}
.conteiner{
    display: grid;
}
.comenta{
grid-column: 2/2;
}
.list-group{
    width: 300px;
} 
.restaurante{
    font-weight: bold;
    line-height: 400%;
}
.btn-outline-secondary{
    background-color: aliceblue;
    margin-bottom: 10px;
}
.carousel-item{
    height: 50vw;
}
.col{
    width: 50vw;
    margin-bottom: 20px;
}
.alqui{
   text-align: center;
   background-color: whitesmoke;
   width: 30vw;
   
   
}
.carru{
    height: 400px;
    
    
}

.imgalqui{
    height:70%;

}
.descriAlquiler{

}
.alquileres{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
    }


 
@media (max-width: 768px) {
    .mapa{
        margin-left: 5px;
        width: 340px;
        height: 340px;
    }
    .titulo{
        margin-left: 5px;
        
    }
    
    .card{
        flex-flow: column;
        width: 40vw;
    }
    .col{
        width: 90vw;
        margin-top: -30px;
    }
    .body-index{
        background-image: url("/img/fondo.webp");
        background-size: auto;
        background-repeat: no-repeat;
    }
    .alquileres{
        display: block;
        margin: 0;
        text-align: center;
        

    }
    .alqui{
        width: 80vw;
    }

}

